.containter {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 200px 1fr 100px;
  grid-template-areas:
    "titulo titulo titulo"
    "player1 selecao player2"
    "nome1 vs nome2";
}

.logo {
  grid-area: titulo;
  align-self: center;
  justify-self: center;

  color: yellow;
  font-family: 'Permanent marker', cursive;
  font-size: 3.5em;
}

.player1 {
  grid-area: player1;
  justify-self: center;
  align-self: center;
}

.player2 {
  grid-area: player2;
  justify-self: flex-start;
  align-self: center;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.player {
  width: 200px;
  display: none;
}

.player2 {
  width: 200px;
}

.player.aberto
{
    display: block;
}


.cards {
  grid-area: selecao;
  height: 400px;
  width: 400px;

 align-self: center;
 justify-self: center;

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;


 padding: 5px;
 grid-gap: 10px;

}

.card {
    background-color: rgb(0, 0, 0); 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;

}

.card:hover {
    border: 2px solid #0ba9ca;
    -webkit-animation: blink 0.4s infinite alternate;
    animation: blink 0.4s infinite alternate;
}




@-webkit-keyframes blink {
    100% {
        box-shadow: 
        0 0 5px #0ba9ca,
        0 0 5px #0ba9ca, 
        0 0 5px #0ba9ca, 
        0 0 5px #0ba9ca,
        0 0 5px #0ba9ca, 
        0 0 5px #0ba9ca;
    }
  }
  
  @keyframes blink {
    100% {
      box-shadow: 
      0 0 5px #0ba9ca,
      0 0 5px #0ba9ca, 
      0 0 5px #0ba9ca, 
      0 0 5px #0ba9ca,
      0 0 5px #0ba9ca, 
      0 0 5px #0ba9ca;
    }
  }
  

.card.fixado {
    border: 2px solid #ff6a00;
    animation: blinkII 0.4s infinite ease alternate;
    -webkit-animation: blinkII 0.4s infinite ease alternate;
}


@-webkit-keyframes blinkII {
    100% {
      box-shadow: 
      0 0 5px #ff6a00,
      0 0 5px #ff6a00, 
      0 0 5px #ff6a00, 
      0 0 5px #ff6a00,
      0 0 5px #ff6a00, 
      0 0 5px #ff6a00;
    }
  }
  
  @keyframes blinkII {
    100% {
        box-shadow: 
        0 0 5px #ff6a00,
        0 0 5px #ff6a00, 
        0 0 5px #ff6a00,
        0 0 5px #ff6a00,
        0 0 5px #ff6a00, 
        0 0 5px #ff6a00;
      }
  }
  


.card-kurapika {
    background-image: url('../img/Kurapika_Portrait_3.webp');
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.p-meruem {
    font-weight: bolder;
    padding: 10px;
    max-width: 300px;
    color: rgb(255, 106, 0);
}

 .card-chrollo {
    background-image: url('../img/Chrollo_Portrait.webp');
    background-size: cover;
    background-position: center center;
}


.card-gon{
    background-image: url('../img/Gon_Freecss_GI_Portrait.webp');
    background-size: cover;
    background-position: center center;
}


.card-hisoka {
    background-image: url('../img/Hisoka_Morow_HCE_Portrait.webp');
    background-size: cover;
    background-position: center center;
}

.card-illumi {
    background-image: url('../img/Illumi_Zoldyck_2011.webp');
    background-position: center top;
}

.card-meruem {
    background-image: url('../img/Meruem_CA_Portrait.webp');
    background-size: cover;
    background-position: center center;
} 


.card-netero{
  background-image: url('../img/Isaac_Netero_HE_Portrait.webp');
  background-size: cover;
  background-position: center center;
} 



.card-leorio{
  background-image: url('../img/Leorio_Paradinight_YC_Portrait.webp');
  background-size: cover;
  background-position: center center;
} 

.card-killua{
  background-image: url('../img/Killua_Zoldyck_HE_Portrait.webp');
  background-size: cover;
  background-position: center center;
} 



.nome-player1.selecionado {
    grid-area: nome1;
    background-image: linear-gradient(to right, #0ba9ca 20%, black 90%);
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: white;
    justify-self: center;
    align-self: flex-start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: bold;
}


.vs{
    grid-area: vs;
    font-family: 'Permanent marker', cursive;
    font-size: 4em;
    color: yellow;
    font-weight: bold;
    font-style:italic; 
    justify-self: center;
    align-self: flex-start;
}

.nome-player2 {
    grid-area: nome2;
    background-image: linear-gradient(to left, red 20%, black 90%);
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: white;
    justify-self: center;
    align-self: flex-start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 100px;
    text-transform: uppercase;
    font-weight: bold;
}
